.activity-card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.activity-header{
    /* border: 3px solid red; */
    height: 60px;
    display: flex;
    justify-content: flex-end;
    border-radius: 15px 15px 0 0;
}

.activity-header > svg{
    height: 100%;
}

.activity-desc{
    border-radius: 15px;
    padding: 10%;
    flex-grow: 2;
    background-color: hsl(235, 46%, 20%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    transition: 150ms all ease-in-out;
    cursor: pointer;
    z-index: 5;
    position: relative;
    width: 100%;
    bottom: 10px;
}

.activity-desc span:first-of-type{
    font-size: 18px;
    font-weight: 500;
}

.activity-desc > p:first-of-type{
    font-size: clamp(2rem, 4.5vw, 3.5rem);
    font-weight: 300;
}

.activity-desc > p:last-of-type{
    color: hsl(236, 100%, 87%);
}

.activity-desc:hover{
    background-color: hsl(235, 45%, 61%);
}

@media only screen and (max-width: 650px){
    .activity-desc{
        padding: 5%;
    }
}