*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root, .App{
    height: max-content;
    width: 100%;
}

/* html{
    border: 3px solid red;
} */
/* 
body{
    border: 3px solid blue;
} */

#root{
    /* border: 3px solid yellow; */
    background-color: hsl(226, 43%, 10%);
}

/* .App{
    border: 3px solid green;
} */