.profile-card-container{
    /* border: 3px solid red; */
    grid-row: span 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.profile{
    /* border: 3px solid green; */
    flex-grow: 3;
    background-color: hsl(246, 80%, 60%);
    border-radius: 15px;
    padding: 10% 10% 25% 10%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.profile-picture{
    width: clamp(50%, 65%, 70%);
    border: 3px solid white;
    border-radius: 50%;
}

.profile-text-content *{
    margin: 0;
    padding: 0;
}

.profile-text-content > p:first-of-type {
    color: hsl(236, 100%, 87%);
}

.profile-text-content > p:last-of-type{
    font-size: clamp(1.5rem, 3.5vw, 3rem);
}

.time-navigation{
    /* border: 3px solid yellow; */
    flex-grow: 1;
    background-color: hsl(235, 46%, 20%);
    padding: 5% 10%;
    border-radius: 15px;
}

.time-navigation > p{
    margin: 0;
    cursor: pointer;
}

@media only screen and (max-width: 650px){
    .profile{
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 5%;
    }

    .profile-picture{
        width: clamp(4rem, 20vw, 45%);
    }

    .profile-text-content{
        margin-left: 5%;
    }

    .profile-text-content > p:last-of-type{
        font-size: clamp(1rem, 1.5rem, 4rem);
    }

    .time-navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 3% 8%;
    }
}