.profile-card-container{
    /* border: 3px solid red; */
    grid-row: span 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.profile{
    /* border: 3px solid green; */
    flex-grow: 3;
    background-color: hsl(246, 80%, 60%);
    border-radius: 15px;
    padding: 10% 10% 25% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.profile > img{
    width: 30%;
    border: 3px solid white;
    border-radius: 50%;
}

.profile > p{
    margin: 0;
}

.profile > p:first-of-type {
    color: hsl(236, 100%, 87%);
    margin-top: 15%;
}

.profile > p:last-of-type{
    font-size: 45px;
}

.time-navigation{
    /* border: 3px solid yellow; */
    flex-grow: 1;
    background-color: hsl(235, 46%, 20%);
    padding: 5% 10%;
    border-radius: 15px;
}

.time-navigation > p{
    cursor: pointer;
}